.header {
  grid-area: h;
  background-color: lightslategrey;
  display: flex;
  align-items: center;
}

.header2 {
  line-height: 60px;
  padding-left: 20px;
}

.header img {
  width: 60px;
  padding-left: 20px;
}