.app-wrapper {
  display: grid;
  /* width: 100vw; */
  margin: 0 auto;

  grid-template-areas:
  "h h"
  "n c"
  "f f";

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr 4fr;
}

.app-wrapper-content {
  grid-area: c;
  min-height: 100vh;
  background-color: whitesmoke;
}

/* .App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
